@charset "utf-8";
/* CSS Document */

.btnVerde {
	background: rgb(176,244,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(176,244,149,1) 1%, rgba(156,221,95,1) 55%, rgba(128,206,88,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(176,244,149,1)), color-stop(55%,rgba(156,221,95,1)), color-stop(100%,rgba(128,206,88,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(176,244,149,1) 1%,rgba(156,221,95,1) 55%,rgba(128,206,88,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(176,244,149,1) 1%,rgba(156,221,95,1) 55%,rgba(128,206,88,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(176,244,149,1) 1%,rgba(156,221,95,1) 55%,rgba(128,206,88,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(176,244,149,1) 1%,rgba(156,221,95,1) 55%,rgba(128,206,88,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0f495', endColorstr='#80ce58',GradientType=0 ); /* IE6-9 */

}

.btnVerde:hover {
	background: rgb(128,206,88); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(128,206,88,1) 0%, rgba(156,221,95,1) 45%, rgba(176,244,149,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,206,88,1)), color-stop(45%,rgba(156,221,95,1)), color-stop(99%,rgba(176,244,149,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(128,206,88,1) 0%,rgba(156,221,95,1) 45%,rgba(176,244,149,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(128,206,88,1) 0%,rgba(156,221,95,1) 45%,rgba(176,244,149,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(128,206,88,1) 0%,rgba(156,221,95,1) 45%,rgba(176,244,149,1) 99%); /* IE10+ */
	background: linear-gradient(top,  rgba(128,206,88,1) 0%,rgba(156,221,95,1) 45%,rgba(176,244,149,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ce58', endColorstr='#b0f495',GradientType=0 ); /* IE6-9 */

}