/*
Author:         Luis Ramos Illanes
Author URI:     http://www.LuisRamos.cl/
*/

body { background:#FFF; color:#999; font-family:Arial, Helvetica, sans-serif; }
a { text-decoration:none;}
h1 { font-size:24px; color:#000;}
.container {}
.content { margin:auto;}
header {  margin:auto;} 
footer { margin:auto;}

/*header*/
header h1 { font-size:30px; font-weight:bold; text-transform:uppercase;}
/*menu*/

.nav {border-bottom: 4px solid #000;}

.menu {}
.menu ul { background:#000; height:30px;}
.menu ul li a { color:#FFF; line-height:30px;}
.producto { position:relative; margin-bottom:10px;}
.producto span { position:absolute; bottom:10px; left:0px; background:#F39; color:#FFF; line-height:25px; height:25px; width:100px; padding-left:10px; margin-left:-10px;}
.producto .descripcion { position:absolute; background:rgba(255, 255, 255, 0.71); top:250px; width:150px; line-height:25px; padding-left:10px;}
.producto h3 { font-size:25px;position:absolute; top:0px;}
.producto a { display:block; top:0; left:0;}